.host {
  padding: 16px;
  background-color: var(--card);
  border-radius: 8px;
  font-family: 'Sarabun';
  box-shadow: rgba(0, 0, 0, 0.03) 0px 8px 24px;

  transition: all ease-in-out 200ms;
}

.host:hover {
  filter: brightness(1.1);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.titleWrapper {
  margin-bottom: 8px;
}

.title {
  margin-right: 8px;
  color: var(--titles);
  font-size: 20px;
  font-weight: 500;
}

.title:hover {
  text-decoration: underline;
}

.supportText {
  color: var(--accent);
  font-size: 14px;
}
