.host {
  width: 100%;
  height: 50px;
  margin-bottom: 16px;
  padding: 12px;
  background-color: var(--titles);
  color: var(--card);
  border-radius: 8px;
  font-family: 'Sarabun';
  box-shadow: rgba(0, 0, 0, 0.03) 0px 8px 24px;
  transition: all ease-in-out 200ms;
}

.host:not(:disabled):hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.host:disabled {
  cursor: not-allowed;
}

@media (prefers-reduced-motion: no-preference) {
  .loadingIcon {
    animation: rotate infinite ease-in-out 1500ms;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
