.host {
  margin: 0px auto;
  width: 100%;
  max-width: 900px;
}

.title {
  padding: 32px 0px;
  font-family: 'Sarabun';
  font-weight: 700;
  font-size: 32px;

  color: var(--titles);
}

.main > :not(:last-child) {
  margin-bottom: 16px;
}
